body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f6f8fb;
}

/* ===== Wrapper ===== */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Card ===== */
.login-card {
  width: 400px;
  padding: 40px 36px;
  background: #ffffff;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

/* Logo */
.logo {
  width: 60px;
  margin-bottom: 16px;
}

/* Title */
.login-card h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #8b95a5;
  margin-bottom: 28px;
}

/* Input */
.login-card input {
  width: 85%;
  height: 46px;
  border-radius: 23px;
  border: none;
  background: #eef0f3;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
  display: block;
  margin: 0 auto 32px;
}

/* --- BUTTON STYLES --- */
.btn-primary,
.btn-secondary,
.btn-register {
  width: 160px; 
  height: 35px;
  border-radius: 22px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 13px; 
  cursor: pointer;
  background: #22c55e; 
  color: #111827;    
}


.btn-primary {
  margin-top: 8px; 
  margin-bottom: 14px;
}


.btn-primary:hover,
.btn-register:hover {
  background: #16a34a; 
  transform: scale(1.02); 
  transition: all 0.2s ease;
}

.hint {
  font-size: 13px;
  color: #8b95a5;
  margin-bottom: 8px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

.divider p {
  margin: 0 12px;
  font-size: 13px;
  color: #9ca3af;
}

/* Social */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
}

.social-icons img {
  width: 32px;
  cursor: pointer;
}

/* Footer */
.footer-text {
  font-size: 13px;
  color: #9ca3af;
}